@tailwind base;
@tailwind components;
@tailwind utilities;




/* Swiper Pagination Styles */
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: #a52b2b !important;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
    background: #a52b2b !important;
    opacity: 1;
    transform: scale(1);
}

.list-none {
    list-style: none;
}


* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.25s ease-out forwards;
}